jenkins*.war
/*.log
.DS_Store
*.swp
*.swn
*~
.vagrant
iso
*.box
workspace/
path-element.hpi
slave.jar
temp_dir_*
.buildpath
.project
target
.classpath
.settings/
jenkins*home/
.idea/
*.iml
*.iws
*.ipr
jenkins-plugins/
.jenkins_test/
.history
.vscode
