---
services:
  init_video:
    image: alpine:latest
    command: >
      sh -c "mkdir -p /tmp/videos && chmod 0777 /tmp/videos"
    volumes:
      - shared_tmp:/tmp
  firefox:
    container_name: firefox
    environment:
      - SE_JAVA_OPTS=-Xmx256m -XX:+HeapDumpOnOutOfMemoryError -XX:+TieredCompilation -XX:TieredStopAtLevel=1
      - SE_NODE_GRID_URL=http://firefox:4444  # Selenium needs to know where to advertise itself (e.g. BiDi)
      - SE_SCREEN_HEIGHT=1090
      - SE_SCREEN_WIDTH=1680
    extra_hosts:
      - host.docker.internal:host-gateway
    image: selenium/standalone-firefox:4.32.0@sha256:40c0aa58b61f51aadda3dc0f92f7b8fa02658bb1cf8a9293b8cd7e5c7913d506
    networks:
      - ath-network
    ports:
      - 4444:4444  # Selenium Grid port
      - 5900:5900  # VNC port
    shm_size: 2g
    volumes:
      - shared_tmp:/tmp
  video:
    container_name: video
    depends_on:
      - firefox
      - init_video
    environment:
      - DISPLAY_CONTAINER_NAME=firefox
      - SE_NODE_GRID_URL=http://firefox:4444
      - SE_NODE_PORT=4444
      - SE_VIDEO_FILE_NAME=auto
      - SE_VIDEO_FILE_NAME_SUFFIX=false
      - SE_VIDEO_RECORD_STANDALONE=true
      - VIDEO_FOLDER=/tmp2/videos  # Avoid conflict with supervisord
    image: selenium/video:ffmpeg-7.1-20250515@sha256:5e283b26b1bb14cabb03b31aaf7d88348e93e92d82b0e1704780611bef129964
    networks:
      - ath-network
    volumes:
      - shared_tmp:/tmp2
  mvn:
    build:
      context: src/main/resources/ath-container
      dockerfile: Dockerfile
      cache_from:
        - jenkins/ath:latest
    container_name: mvn
    depends_on:
      - firefox
      - video
    environment:
      - DISPLAY=firefox:99.0
      - DOCKER_FIXTURES_NETWORK=ath-network
      - JENKINS_LOCAL_HOSTNAME=mvn
      - REMOTE_WEBDRIVER_URL=http://firefox:4444/wd/hub
      - SELENIUM_PROXY_HOSTNAME=mvn
      - SHARED_DOCKER_SERVICE=true
      - TESTCONTAINERS_HOST_OVERRIDE=host.docker.internal
      - VIDEO_FOLDER=/tmp/videos
    extra_hosts:
      - host.docker.internal:host-gateway
    group_add:
      - ${DOCKER_GID}
    image: jenkins/ath:latest
    networks:
      - ath-network
    ports:
      - 5005:5005  # Maven debug port
    shm_size: 2g
    user: ath-user
    volumes:
      - ${PWD}:/home/ath-user/sources
      - shared_tmp:/tmp
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /home/ath-user/sources
networks:
  ath-network:
    name: ath-network
    attachable: true
volumes:
  shared_tmp:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
