import org.jenkinsci.test.acceptance.controller.Ec2Provider
import org.jenkinsci.test.acceptance.controller.JenkinsController
import org.jenkinsci.test.acceptance.controller.JenkinsProvider
import org.jenkinsci.test.acceptance.controller.JcloudsMachine

bind Machine toProvider Ec2Provider
// TODO: does above let test inject MachineProvider? if not, try the following
// bind Machine toProvider MachineProvider
// bind MachineProvider to Ec2Provider


bind JenkinsController toProvider JenkinsProvider in TestScope

