import org.jenkinsci.test.acceptance.controller.*
import org.jenkinsci.test.acceptance.guice.TestScope
import org.jenkinsci.test.acceptance.resolver.JenkinsResolver
import org.jenkinsci.test.acceptance.resolver.JenkinsUploader

import java.net.Authenticator

bind(MachineProvider).to(Ec2Provider)
bind(Machine).toProvider(MultitenancyMachineProvider)

bind JenkinsResolver toInstance new JenkinsUploader("/Users/vivek/Downloads/jenkins.war")
bind(JenkinsController).toProvider(JenkinsProvider)
user="ubuntu"
bind(Authenticator).to(org.jenkinsci.test.acceptance.controller.Authenticator.PublicKeyAuthenticator)
