import org.jenkinsci.test.acceptance.controller.*
import org.jenkinsci.test.acceptance.guice.TestScope
import org.jenkinsci.test.acceptance.resolver.JenkinsDownloader
import org.jenkinsci.test.acceptance.resolver.JenkinsResolver
import org.jenkinsci.test.acceptance.resolver.JenkinsUploader
import org.jenkinsci.test.acceptance.slave.SlaveController
import org.jenkinsci.test.acceptance.slave.SlaveProvider
import org.jenkinsci.test.acceptance.slave.SshSlaveController
import org.jenkinsci.test.acceptance.slave.SshSlaveProvider

import java.net.Authenticator


node_id="i-e14455c0"

bind(MachineProvider).to(Ec2Provider)
bind(Machine).toProvider(MultitenancyMachineProvider)

def localWar = "/Users/vivek/Downloads/jenkins.war"
//bind JenkinsResolver toInstance new JenkinsUploader(localWar)
bind JenkinsResolver toInstance new JenkinsDownloader("http://mirrors.jenkins-ci.org/war/latest/jenkins.war")
bind(JenkinsController).toProvider(JenkinsProvider).in(TestScope)
user="ubuntu"
bind(Authenticator).to(org.jenkinsci.test.acceptance.controller.Authenticator.PublicKeyAuthenticator)
jenkins_md5_sum="b6aacb5f25a323120f8c791fe2d947b9"

bind SlaveProvider to SshSlaveProvider
bind SlaveController to SshSlaveProvider

bind JenkinsController named "joc" to new WinstoneController(localWar as File) in TestScope
// TODO: how to bind @Named("joc") Jenkins to @Named("joc") JenkinsController?
// bind Jenkins named "joc" toProvider JenkinsController // named?